<div class="flex flex-col min-h-screen w-full">
  <%= render "shared/header" %>
  <main class="flex-grow flex bg-white">
    <%= render "shared/sidebar" %>
    <div class="container flex-grow py-12 px-4 mx-auto">
      <h2>質問する</h2>
      <!-- エラーメッセージ -->
      <% if @question.errors.any? %>
        <%= @question.errors.count %>件のエラーが発生しました
        <ul>
          <% @question.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= form_with model: @question do |form| %>
        <%= form.text_field :title, placeholder: "タイトル" %>
        <%= form.rich_text_area :content %>
        <%= form.submit "送信", class: "main-button" %>
      <% end %>
    </div>
  </main>
  <%= render "shared/footer" %>
</div>
